# Variabili sensibili
terraform.tfvars
*.tfvars

# Stato Terraform
.terraform/
terraform.tfstate
terraform.tfstate.backup
.terraform.lock.hcl

# Artefatti build Lambda
.build/

# Python
__pycache__/
*.pyc
